@using Oryx.Content.Business;
@using Microsoft.Extensions.DependencyInjection;
@{
    var contentBusiness = Context.RequestServices.GetService<ContentBusiness>();
    var categories = contentBusiness.GetContentCategories().Result;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/js/editor/wangEditor.css" rel="stylesheet" />
    <link href="~/tagify/dist/tagify.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">知页SNS 管理后台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="/Banners">轮播图</a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">内容管理</a>

                        <dl class="layui-nav-child">
                            <dd> <a href="/Category/Index">内容分类</a></dd>
                            @foreach (var cat in categories)
                            {
                                <dd>
                                    <a href="/ContentEntry/Index?pid=@cat.Id">@cat.Name</a>
                                    @if (cat.ChildrenCategories != null)
                                    {
                                        <dl class="layui-nav-child">
                                            @foreach (var item in cat.ChildrenCategories)
                                            {
                                                <dd> <a href="/ContentEntry/Index?pid=@cat.Id">@cat.Name</a></dd>
                                            }
                                        </dl>
                                    }
                                </dd>

                            }
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">动漫/图集</a>
                        <dl class="layui-nav-child">
                            <dd> <a href="/CartoonManager/Index">动漫书本</a></dd>
                            <dd> <a href="/CartoonManager/Empty">空漫画</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">论坛管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Topic">话题管理</a></dd>
                            <dd><a href="/PostEntry">帖子列表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">商品管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">商品分类</a></dd>
                            <dd><a href="javascript:;">商品列表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">用户列表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;">系统配置</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">

                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © pagetechs.com - 知页科技
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });
        var $ = layui.$;
    </script>
    <script src="~/js/editor/wangEditor.js"></script>

    <script src="~/tagify/dist/jQuery.tagify.min.js"></script>
    <script src="~/tagify/dist/tagify.min.js"></script>
    <script src="~/DataTables/datatables.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>